{{#if showHeader}}
  {{base/np-header}}
{{/if}}

<main role="main" class="container">
  {{#if appIsReady}}
    {{yield}}
  {{else}}
    {{#unless globalPathIsSetup}}
      {{application-route/setup-global-path}}
    {{/unless}}

    {{#if showPasswordSetup}}
      {{application-route/setup-password}}
    {{/if}}
  {{/if}}
</main>


